<body *ngFor="let caseNews of news">
   <div class="content">
      <div mat-dialog-content style="max-height: 120vh;">
         <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-card class="mat-elevation-z4">
               <mat-card-content>
                  <mat-card-title>Update News</mat-card-title>
                  <div class="form-group">
                     <label for="judul">Title</label>
                     <input type="text" [(ngModel)]="caseNews.title_news" class="form-control" id="judul" name="judul">
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="25px grid">
                     <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <div class="form-group">
                           <label for="media">Channel</label>
                           <input type="text"  [(ngModel)]="caseNews.media_name" class="form-control" id="media" name="media">
                        </div>
                     </div>
                     <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <div class="form-group">
                           <label for="tanggal">Date</label>
                           <input type="date" [(ngModel)]="caseNews.date" class="form-control" id="tanggal" name="tanggal">
                        </div>
                     </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="25px grid">
                     <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <div class="form-group">
                           <label for="konten">Content</label>
                           <textarea rows="20" [(ngModel)]="caseNews.content_text" class="form-control" id="konten" name="konten"></textarea>
                        </div>
                     </div>
                     <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <div class="photo">
                           <label style="display: block;">Photo</label>
                           <img src = "{{caseNews.link_image}}"><br>
                        </div><br>
                        <div class="form-group">
                           <label for="gambar">Photo URL</label>
                           <input type="text" [(ngModel)]="caseNews.link_image"class="form-control" id="gambar" name="gambar">
                        </div><br>
                     </div>
                  </div>
               </mat-card-content>
            </mat-card>
            <div class="button">
               <button  class="btn-back" mat-dialog-close>Back</button>
               <button  class="btn-update" (click) = "updateNews(caseNews.id, caseNews)">Update</button>
           </div>
         </div>
      </div>
   </div>
</body>
    