<body>
    <div class="header">
        <h1>News</h1>
        <img class = "search" src = "../../../assets/dashboard/search.svg">
        <img class ="notification" src = "../../../assets/dashboard/notification.svg">
        <img class = "divider"  src = "../../../assets/dashboard/divider.svg">
        <h2>Samantha</h2>
        <img class = "profile" src = "../../../assets/dashboard/profile.svg">
    </div>
    <div class="add-news">
        <button class="btn-add-news"  routerLink= "add-news">
            <p>Add News</p>
        </button>
    </div>
   
    <router-outlet></router-outlet>
</body>

