<body>
    <div class="twitter-card">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" 
            *ngFor="let twitterLoop of twitter | paginate: config; let idx=index ;">
                <mat-card class="mat-elevation-z4">
                    <div class="header-card">
                        <div fxLayout="row wrap" fxLayoutGap="5px grid">
                            <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" >
                                <div class="photo-profile">
                                    <img src="{{twitterLoop.profile_image}}">
                                </div>
                            </div>
                            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" >
                                <div class="twitter-profile">
                                    <h1>{{(twitterLoop.name.length>15)? (twitterLoop.name | slice:0:15):(twitterLoop.name)}}
                                        <span><p>  @{{twitterLoop.username}}</p></span></h1>
                                    <p>Jakarta, Indonesia</p>
                                </div>
                            </div>
                            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" >
                                <div class="other-menu">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <img src="../../../assets/twitter/titiktiga.svg">
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click) = "updateTwitter(twitterLoop.id, idx)">
                                          <mat-icon>update</mat-icon>
                                          <span>Update</span>
                                        </button>
                                        <button mat-menu-item (click) = "deleteTheTwitter(twitterLoop.id, idx)">
                                          <mat-icon>delete</mat-icon>
                                          <span>Delete</span>
                                        </button>
                                      </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="twitter-post">
                        <p>{{twitterLoop.text}}</p>
                    </div>
                    <div class="twitter-image">
                        <img src="{{twitterLoop.image}}">
                    </div>
              </mat-card>
            </div>
        </div>
      
        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
            <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    < 
                      </span> 
                  </div> 
                  <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                      <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                      </div>
                  </div>
                  <div class="pagination-next" [class.disabled]="p.isLastPage()">
                    <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
                  </div>
              </div>
          
        </pagination-template>
    </div>
</body>
