<ng-container background-color="primary">

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>

      <mat-nav-list>
        <img src="../assets/Logo.svg">
            <div class = "list" *ngFor="let item of menu">
                <mat-list-item routerLink="{{item.url}}" routerLinkActive="active">
                    <mat-icon matListIcon>{{item.icon}}</mat-icon>
                    <h3 matLine>{{item.name}}</h3>
                </mat-list-item>
            </div>
            <div class="settings">
              <div *ngFor="let itemSettings of settings">
                  <mat-list-item routerLink="{{itemSettings.url}}">
                      <mat-icon matListIcon>{{itemSettings.icon}}</mat-icon>
                      <h3 matLine>{{itemSettings.name}}</h3>
                  </mat-list-item>
              </div>
          </div>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>
  
</ng-container>
  
  
  
  