<body>
    <div class="header">
        <h1>Twitter</h1>
        <img class = "search" src = "../../../assets/dashboard/search.svg">
        <img class ="notification" src = "../../../assets/dashboard/notification.svg">
        <img class = "divider"  src = "../../../assets/dashboard/divider.svg">
        <h2>Samantha</h2>
        <img class = "profile" src = "../../../assets/dashboard/profile.svg">
    </div>
    <div class="add-twitter">
        <button class="btn-add-twitter"  routerLink= "add-twitter">
            <p>Add Twitter</p>
        </button>
    </div>

    <router-outlet></router-outlet>
</body>
