body{
    background-color: #F8F8FF;
}

.header{
    display:inline-block;
}

.header h1{
    display:inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 34px 30px 0px;
    color: #0F123F;
}

.header img{
    display:inline-block;
}

.search{
    position: absolute;
    right:300px;
    top: 30px;
    width:30px;
}

.notification{
    position: absolute;
    right: 250px;
    top:30px;
    width:30px;
}

.divider{
    position: absolute;
    right: 210px;
    top:25px;
    /* width:10px; */
}

.header h2{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    right: 100px;
    top:35px;
    letter-spacing: 0.4px;
    color: #252733;
}

.profile {
    position: absolute;
    right: 40px;
    top:24px;
}

.add-employee{
    height:50px;
}

.add-employee h3{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

    color: #0F123F;
    position: absolute;
    left:50px;
    top:120px;
}

.btn-add-employee{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    border: #FF6968;
    position: absolute;
    width: 150px;
    height: 32px;
    right:45px;
    top: 100px;
    text-align: center;
    background: linear-gradient(90deg, #FF6968 0%, #FFA3A3 100%);
    border-radius: 10px;
   
    color: #FFFFFF;
}

.btn-add-employee p{
    display: inline;
    margin-top:10px;
    margin-left: 10px;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: white;
}